body {
  font-family: "Roboto", sans-serif;
  background: #1e1e1e;
  color: #e5e5e5;
  padding: 40px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}


section {
  background: #2a2a2a;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  width: 400px;
  max-width: 100%;
  box-sizing: border-box; 
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  color: #fff;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1a1a1a;
  color: #eee;
  box-sizing: border-box;
}

#data, #nome, #cpf {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

button:hover {
  background: #2563eb;
}

/* Estilos para os resultados de agendamentos */
#resultado-agendamentos div {
  margin-bottom: 15px; 
}
#resultado-agendamentos div {
  margin-top: 15px; 
}

/* Estilos para a seção de serviços */
#servicos img {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 8px;
}

/* Estilos para a seção da equipe */
#equipe {
  text-align: center;
}

.membros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.membro {
  text-align: center;
  margin: 10px;
  flex: 1 1 200px;
}

.membro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilos para o formulário de contato */
#contato form {
  display: flex;
  flex-direction: column;
}

#contato label {
  margin-bottom: 10px;
}

#contato input {
  margin-bottom: 10px;
}

#servicos {
    text-align: center;
}

#agendamento {
    text-align: center;
}

#form-agendamento {
    text-align: left;

}

/* Media queries para responsividade */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  section {
    padding: 15px;
    width: 100%;
  }

  #equipe {
    text-align: center;
  }

  .membros {
    flex-direction: column;
  }

  .membro {
    flex: none;
    margin: 10px 0;
  }

  #servicos img {
    max-width: 100%;
    justify-content: center;
  }

}



  @media (min-width: 769px) {
  section {
    width: 70%;
    max-width: 900px;
  }

  body {
    padding: 40px;
  }

  .membros {
    justify-content: center;
  }

  #servicos img {
    max-width: 50%;
    justify-content: center;
  }

}

